<%- include('partials/head') %>
    <link rel="stylesheet" href="css/style.css">
    <title>Employee of The Month</title>
</head>
<body>

    <h1>Velcome to the protected area</h1>
    <div class="holder">
    <p>
        <a href="/logout">Log out</a>
    </p>
    <h1> Employee of the month</h1>
    <div class="avatar">
        <a href="#">
            <img src="https://pyxis.nymag.com/v1/imgs/a22/179/b205a78510315d932427143ad6b6fb5694-03-homer-simpson-doughnuts.rsquare.w700.jpg" class="user"/>
        </a>
    </div>
    <p>name</p>
    <h1>Homer Simpson</h1>
    <p>achievement</p>
    <h1>101 days without an accident</h1>
</div>

    
<%- include('partials/footer') %>